<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>重阳节教学材料（简体）</title>
</head>
<style>
    div{
        padding: 10px;
    }
    body{
        margin: 30px 200px;
    }
</style>
<body>
    <div>
        <h3><strong>重阳节习俗知多少</strong></h3>
    <p style="text-indent: 2em;">每年农历九月九日是重阳节。重阳节，又称“老人节”。在中国古代，“九”是阳数，而九月九日代表有双重的阳数，所以叫“重阳节”。以下是重阳节可以和家人一起体验的四大习俗。</p>
    </div>
    <div>
        <h3><strong>登高望远</strong></h3>
    <p style="text-indent: 2em;">据古书记载，秋天时节变换，干净新鲜的空气会上升，污浊的空气会下降。在重阳节，家家户户带着家里的长者，攀登山巅，呼吸新鲜的空气，促进身体循环，既锻炼身体，又欣赏秋景。寄托着对健康长寿的美好祈愿，展现了人与自然和谐共融的文化内涵。</p>
    </div>
    <div>
        <h3><strong>佩戴茱萸</strong></h3>
    <p style="text-indent: 2em;">茱萸是一种茴香科植物，因为出产于吴地的茱萸最好，所以又叫吴茱萸。它初夏开绿白色的小花，秋后成熟。茱萸可以佩带在手臂上，也可以做成茱萸香囊，还可以把茱萸插在头发上。中国人认为茱萸有一种特别的香气，为家人佩带茱萸，可以保护他们，特别是老人，不要感冒，远离鬼怪。</p>
    </div>
    <div>
        <h3><strong>赏菊</strong></h3>
    <p style="text-indent: 2em;">重阳节正是一年的金秋时节，菊花盛开。在中国文化中，因为菊花的花期很长，所以菊花有了长寿的含义，而带着家里的老人去赏菊也是寄托了长命百岁的祝福。而且菊花盛开在寒冷的秋天，枯萎的时候是一片片落下来，而不是一整颗枯萎，所以古人认为菊花也代表着坚强高雅的品质，赏菊也是提醒我们要继承美好的传统美德。</p>
    </div>
    <div>
        <h3><strong>饮菊酒</strong></h3>
    <p style="text-indent: 2em;">重阳佳节，我国有饮菊花酒的传统习俗。古时菊花酒，是头年重阳节时专为第二年重阳节酿的。九月九日这天，采摘刚刚开放的菊花和一点青翠的枝叶，加到准备酿酒的粮食中，然后一齐用来酿酒，放至第二年九月九日饮用。传说喝了这种酒，可以延长寿命。从医学角度看，菊花酒可以治头晕、降血压。除登高插茱萸之外，一家人还可以欢聚一堂，喝菊酒，赏菊花，享受天伦之乐。</p>
    </div>
</body>
</html>