<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>异乡过节也很幸福</title>
</head>
<style>
    body{
        margin: 60px 200px;
    }
    .section-title {
            font-weight: bold;
            margin-top: 20px;
        }
</style>
<body>
    <div class="section-title">三只鱼的博客</div>
    <a href="https://www.sanzhiyu.blog.com" class="link">www.sanzhiyu.blog.com</a><br>
    <div >
        <p>2018 年 9 月 28 日 星期一 18:00</p>
        <p>异乡过节也很幸福…</p>
        <p style="text-indent: 2em;"> 大家中秋节快乐呀！今年是我异乡过中秋的第三年，我想说：异乡过节也可以很幸福！先说说我的情况：我老家在辽宁阜新，后来我考大学考到了直辖市——天津，并顺利在这里找到了工作</p>
        <p style="text-indent: 2em;">中秋原本应该是团圆的节日，每个人都想要回家过节。但是天津离我的家乡（=老家）大约600公里，没有高铁，坐火车也要八个多小时。中秋节三天的假期实在有点短，就算回去也无法享受和家人在一起的时光，所以我逐渐放弃了回家过中秋的想法。</p>
        <p style="text-indent: 2em;">在我的工作部门，超过六成的同事和我一样无法回家过节，他们都是来自外地（=异乡），最远的来自甘肃玉门。所以我带上我的猫，和他们一起在天津的一家民宿过节。大家一起赏月、聊天、吃月饼，其乐融融。在外打拼多年，我越来越觉得，朋友和宠物也是家人，和他们一起过节也是一种团圆。</p>
        <p style="text-indent: 2em;">今年中秋节家中老人的态度也发生了变化。以前我父母总觉得中秋节必须要阖家团圆，但现在，长辈们的心态（=态度）豁达（开放）了。我本来还担心他们孤单，赶紧拨通了视频电话。没想到，屏幕那头他们正在热热闹闹地聚餐（=在一起吃饭），家里充满了欢声笑语。</p>
        <p style="text-indent: 2em;"> 我觉得时代不同了，节日的庆祝方式也在改变，但是只要我们和亲人之间能够互相理解，有联系。无论身处何地，都是团圆。今年中秋你回家了吗？欢迎在评论区和我分享你的中秋故事。</p>
        <p style="text-indent: 2em;">222次阅读| 222个评论| 222次收藏| 222次转发</p>
        
    </div>
</body>
</html>