<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>春节听力材料简体版</title>
</head>
<style>
    div{
        padding: 10px;
    }
    body{
        margin: 30px 200px;
        font-family: Arial, sans-serif;
        line-height: 1.6;
    }
    p{
        text-indent: 2em;
    }
</style>
<body>
    <div>
    <p><strong>听力材料1：</strong></p>
    <p style="text-indent: 2em;">在除夕的晚上，每家都会过得非常热闹，在外地工作的人们都赶回家里，和亲人们团聚在一起，和和美美地吃上一顿年夜饭。年夜饭很丰盛，一大桌子上满满的都是菜，有鸡有鸭有鱼。其实我觉得吃什么不是最重要的，最重要的是一家人可以团团圆圆的在一起。</p>
    <p style="text-indent: 2em;">吃完年夜饭后，孩子们就可以收压岁钱了。家里的大人们会把压岁钱包在红包里，然后分给孩子。在古时候，人们觉得祟是很不吉利的东西，而压岁钱的“岁”和它的读音相同，那“压岁”就是“压祟”，有压住不吉利的意思。所以人们希望小孩子拿到压岁钱后就可以平平安安地度过接下来的一年。</p>
    <p style="text-indent: 2em;">派完了压岁钱，人们还要一起守岁。这天晚上大家都熬夜，一直等到第二天天亮。人们会点亮屋子里面的灯，大人和小孩围着坐在一起，桌子上摆上糕点和瓜果，大家一边吃一边聊天。</p>
</div>
    <div>
    <p><strong>听力材料2：</strong></p>
    <p style="text-indent: 2em;">在这天，以前的人们还有放鞭炮的习俗。鞭炮的声音有赶走鬼怪的作用，所以大家会一大早就出门放鞭炮。在古代，小孩儿要向长辈拜年，好朋友之间也会送上拜年卡片。但是随着时代的发展，拜年的方式也在不断改变。除了上门拜年，我们还可以发短信、打电话拜年。虽然方式不同了，可我们祝福别人的心情还是一样的。</p>
</html>