<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>嫦娥奔月故事练习</title>
</head>
<body>
    <div style="line-height: 32px;margin: 100px 300px;">
        很久很久以前，天上出现（現）了十个（個）太阳（陽），人们（們）热（熱）得受不了，稻子都枯死了。 <br>
        有一个叫后羿的神射手，他射箭很厉害（厲害）。<br>
        为了拯救人们（們），他一口气射下了九个太阳（陽），只留下一个太阳（陽）。<br>
        于是，人们称（稱）后羿是大英雄。<br>
        为了奖励（獎勵）后羿，王母娘娘给（給）了他一颗（顆）神药（藥），谁（誰）吃下这颗（顆）神药（藥），谁（誰）就能变成（變成）神仙。 <br>
        后羿有一个美丽（麗）的妻子叫嫦娥，她和后羿十分相爱（愛）。<br>
        尽管（儘管）后羿拥（擁）有了神药（藥），<br>
        但是他只想和嫦娥在人间（間）生活，不想独（獨）自变（變）成神仙。<br>
        所以他把这颗（顆）神药（藥）交给嫦娥保管。 <br>
        有一天，后羿出门打猎（獵），他的学（學）生偷偷溜进家里，想要抢（搶）走神药（藥）。<br>
        为了不让坏（壞）人得到，嫦娥一口吞下了神药（藥）。她飞了起来，一直飞到了月亮上。 后羿回家后（後），发现（發現）嫦娥不见（見）了，特别痛苦。<br>
        为了纪念（紀念）嫦娥，后羿在院子里摆（擺）上她最爱（愛）吃的月饼（餅）。<br>
        但是嫦娥再也回不来了，<br>
        只能住在月亮上的宫殿里，陪伴她的只有一只（隻）玉兔和一棵桂花树（樹）。<br>
    </div>
</body>
</html>