<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>Unit Flow</title>
  <style>
    body {
      font-family: "Arial", sans-serif;
      margin: 30px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      border: 1px solid black;
      padding: 10px;
      vertical-align: top;
    }

    th {
      background-color: #f0f0f0;
      text-align: center;
      font-weight: bold;
    }

    .bold {
      font-weight: bold;
    }

    .highlight {
      background-color: yellow;
    }

    .indent {
      text-indent: 2em;
    }

    td {
      line-height: 1.7;
    }
    td div{
      margin-bottom:20px;
    }
    a{
      color: #1677ff;
      text-decoration: none;
    }
  </style>
</head>
<body>

  <table>
    <tr>
      <th>教节</th>
      <th>教学目标</th>
      <th>内容</th>
      <th>评估（FA/SA）</th>
      <th>教学材料</th>
      <th>对应课节教案</th>
    </tr>

    <tr>
      <td>
        <div class="bold">1、重阳节习俗知多少（阅读）引入</div>
      </td>
      <td>
        <div>1、创造传统节日的语境，扫清生词障碍，了解学生对中国传统文化的认识程度</div>
        <div>2、预测课文内容，引发阅读兴趣</div>
      </td>
      <td>
        <div>1、和学生一起头脑风暴一下已知的传统节日和习俗，并且运用框架：谁、哪里、做什么来梳理学生想到的词</div>
        <div>2、pre reading (input)：先讲解佩戴茱萸、饮菊酒、赏菊花和登高四个生词，再利用便签给这四个习俗可能带来的影响进行分类，从而预测课文内容。</div>
      </td>
      <td>
        <div>1、检测学生对中国节日与习俗的 prior knowledge</div>
        <div>2、通过对词汇的分类检测学生对佩戴茱萸、饮菊酒、赏菊花和登高的理解</div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div ><a href="./lesson-plan/lesson-plan1.html">L1 Lesson plan</a></div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="bold">2、重阳节习俗知多少（阅读）解构文章</div>
      </td>
      <td>
        <div>1、学生能够理解课文的含义</div>
        <div>2、学生能够从文章中学习如何描述一个习俗</div>
      </td>
      <td>
        <div>1、during reading (input)：学生自己阅读并检查自己之前的猜想，修改分类，结合上下文猜词义，如果不明白才讲解生词。</div>
        <div >2、先让学生回忆之前学过的，如何描述经历，引出：谁、哪里、做什么、原因的框架，然后让学生找出描述这些习俗怎么做的词（谁、哪里、做什么），加入之前的分类表格。</div>
      </td>
      <td>
        <div>1、通过修改上课节的分类检测学生有没有读懂课文内容</div>
        <div>2、通过填写框架分类表来检测学生是否读懂文章意思</div>
      </td>
      <td>
        <div ><a href="./teach-materials/double-ninth-festival.html">1、重阳节教学材料（简体）</a></div>
        <div><a href="./teach-materials/seven.html">2、习俗介绍分类表格-sample</a></div>
      </td>
      <td>
        <div><a href="./lesson-plan/lesson-plan2.html">L2 Lesson plan</a></div>
      </td>
    </tr>

    <tr>
        <td>
          <div class="bold">3、重阳节习俗知多少（阅读）应用</div>
        </td>
        <td>
          <div>1、学生能够根据自己对文章的理解重写文章</div>
        </td>
        <td>
          <div>After-reading:
            re-write: 自选一个习俗，根据总结好的大纲写一段习俗的介绍，然后和课文进行对比，找出不同之处，每个人分享一个不同的地方。
            
            </div>
            <div>观看一段关于端午节的视频，并根据视频内容阐述自己对于重阳节的看法</div>
        </td>
        <td>
          <div>通过重写课文检查学生是否理解了课文，以及是否掌握了汉字的书写</div>
          <div>通过学生对于视频的阐述检查学生能否针对一个习俗进行口语输出，以及他们对于中国文化概念的理解程度</div>
        </td>
        <td>
          <div class="highlight"><a href="#">端午节视频</a></div>
          <div>写作纸</div>
        </td>
        <td>
          <div ><a href="./lesson-plan/lesson-plan2.html">L2 Lesson plan</a></div>
          <div ><a href="./lesson-plan/lesson-plan3.html">L3 Lesson plan</a></div>

        </td>
      </tr>

      <tr>
        <td>
          <div class="bold">4、春节习俗新元素大盘点（听力&阅读）引入</div>
        </td>
        <td>
          <div>1、学生会了解春节习俗及其意义</div>
          <div>2、学生将对于节日的内核有自己的思考</div>
        </td>
        <td>
          <div>1、头脑风暴一下关于春节和春节习俗</div>
          <div>2、讲解视频里面的生词。
            （差异化：每个人发放一叠便利贴，可以把课上不懂的问题写下来，贴在A3纸上。）
            </div>
            <div>
                3、给学生分组，让学生给自己的组命名。 使用0.75倍速观看一个介绍春节习俗的视频，要求：回答以下问题+按照顺序回答问题，如果没有听到答案，就先回答下九个问题，做bingo游戏：
                “除夕”为什么叫“除夕”？（了解除夕的由来）
                年夜饭一般会和谁一起吃？
                年夜饭最重要的是什么？（探讨节日习俗背后的内核是什么）
                “压岁钱”是什么意思？（了解压岁钱的由来）
                除了上门拜年，还可以怎么拜年？（由此思考：为什么拜年的方式会变？）</div>
            <div>4、发放听力材料，让学生提前阅读，学习一下这篇文章是从哪些方面说习俗的细节的？
                教師先以第一段為示範分析
                </div>
        </td>
        <td>
          <div>通过倾听学生的反馈预估学生的实际水平</div>
          <div>通过bingo游戏检测学生对春节习俗的了解，以及聆听视频内容的吸收程度</div>
        </td>
        <td>
          <div class="highlight"><a href="#">春节视频</a></div>
          <div ><a href="./teach-materials/festival-customs.html">春节九宫格-sample</a></div>
          <div >
            <a href="./teach-materials/one.html">春节听力材料简体版</a>
          </div>
        </td>
        <td>
          <div ><a href="./lesson-plan/lesson-plan4.html">L4 Lesson plan</a></div>

        </td>
      </tr>

      <tr>
        <td>
          <div class="bold">5、春节习俗新元素大盘点（解构文章）</div>
        </td>
        <td>
           <div>学生将提升自己的阅读、书写以及口语能力</div>
        </td>
        <td>
            <div>1、发放阅读材料，学生读后填充关于习俗的变化及原因的表格（以前/现在，原因）20min</div>
            <div>2、think-pair-share 
                先解释“传承”“创新”的意思，然后
                针对“你觉得传统习俗的传承和创新哪个更重要？”的问题让学生每个人思考3分钟，然后两两成对分享自己的观点，然后每一组都来分享讨论的结果。（要求：分享的人说话要大声，一组人说全班人听，分享的观点要能够说服别人：观点-例子-总结）
                
                </div>
                <div>教师最后做示范阐述：传统习俗的传承更重要。</div>
        </td>
        <td>
          <div>通过观察学生填写表格的情况了解学生对于阅读材料的理解程度</div>
        </td>
        <td>
          <div ><a href="./teach-materials/four.html">春节课文简体版</a></div>
          <div ><a href="./teach-materials/six.html">春节习俗变化思维导图</a></div>
        </td>
        <td>
          <div><a href="./lesson-plan/lesson-plan5.html">L5 Lesson plan</a></div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="bold">6、中秋节习俗（听力）</div>
        </td>
        <td>
          <div>学生将提升自己对于中秋节相关主题的听力能力</div>
        </td>
        <td>

            <div>通过四个问题，学生分组做自主探究关于中秋节的事实。并参与课堂讨论和分享。</div>
            <div>做一篇关于中秋节的听力来检测学生自我探究的成果。 </div>
            <div>根据听力材料核对答案</div>
        </td>
        <td>
          <div>通过课堂讨论得出学生对于中秋节习俗的了解程度</div>
          <div>中秋节听力检测学生对于之前讨论的中秋节内容是否掌握</div>
        </td>
        <td>
          <div class="highlight"><a href="#">中秋节听力视频</a></div>
          <div ><a href="./teach-materials/two.html">中秋节听力材料-简体</a></div>
        </td>
        <td>
          <!-- <div ><a href="./lesson-plan/lesson-plan7.html">L7 Lesson plan</a></div> -->
          <div ><a href="./lesson-plan/lesson-plan6.html">L6 Lesson plan</a></div>

        </td>
      </tr>

      <tr>
        <td>
          <div class="bold">7.中秋节-嫦娥奔月（连接词）</div>
        </td>
        <td>
            <div>学生将了解嫦娥奔月的故事，并思考该故事的内核</div>
        </td>
        <td>
            <div>学生先0.75倍速看嫦娥奔月的介绍视频</div>
            <div>学生按照嫦娥奔月的故事内容给句子材料排序，完成后学生互相核对 </div>
            <div>学生根据上下文语境为句子材料之前加入连接词，互相核对最后再次观看视频，核对自己的排序和连接词答案。</div>
            <div>和学生一起总结连接词的作用，以及在考试时如何应对连接词相关的问题</div>
            <div>结合春节和中秋节所学的内容，探讨节日习俗的内核</div>
        </td>
        <td>
          <div>通过观察学生的排序情况得出学生对于嫦娥奔月视频的理解程度</div>
          <div>通过观察学生给连接词的排序程度得出学生对于连接词的掌握程度</div>
        </td>
        <td>
          <div class="highlight"><a href="#">嫦娥奔月视频</a></div>
          <div ><a href="./teach-materials/three.html">嫦娥奔月故事练习</a></div>
        </td>
        <td>
          <div ><a href="./lesson-plan/lesson-plan7.html">L7 Lesson plan</a></div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="bold">8.中秋节-异乡过节</div>
        </td>
        <td>
            <div>学生将展现自己在本单元所学</div>
        </td>
        <td>
            <div>学生自主阅读文章，回答中秋节习俗有什么变有什么不变</div>
            <div>通过在文章段落中找出一句话概括段意总结出了解大意的方法。 </div>
            <div>通过观察该博客的文体特征，学生自主总结出博客文体的格式，受众，目的。</div>
            <div>学生写一篇博客阐述节日中出现的新变化</div>
        </td>
        <td>
          <div>通过学生对博客的完成情况检测学生对于本单元概念和语言的掌握程度</div>
        </td>
        <td>
        </td>
        <td style="width: 130px;">
          <div ><a href="./lesson-plan/lesson-plan8.html">L8 Lesson plan</a></div>
        </td>
      </tr>
  </table>

</body>
</html>
